body {
    background-color: darkslategray;
    font-family: 'Press Start 2P', monospace;
}

#titleTetris {
    font-size: 80px;
    font-weight: bold;
    margin: 20 0 20 0;
}

#container-all {
    display: flex;
    margin-left: 20px;
}

#container-main {
    display: table-column;
}

#container-sub {
    display: block;
    width: 290px;
    margin-left: 20px;
}

#sub {
    margin-left: 40px;
    margin-top: 10px;
}

#description {
    font-size: 20px;
}

button {
    width: 200px;
    height: 30px;
    font-family: 'Press Start 2P', monospace;
    margin-bottom: 20px;
    margin-top: 20px;
}

p {
    font-size: 20px;
    margin-top: 5px;
    color: white;
    margin: 10px;
} 